<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159961987859-muu6q05qet3u834inded76lmc1tlk9uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159961987859-muu6q05qet3u834inded76lmc1tlk9uu</string>
	<key>API_KEY</key>
	<string>AIzaSyD2CQfOCCmbAMG3HC2YTLX8vAHSFNwO308</string>
	<key>GCM_SENDER_ID</key>
	<string>159961987859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locatedNotifications</string>
	<key>PROJECT_ID</key>
	<string>located-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>located-notifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159961987859:ios:3ae54083d97535b2e4f8e6</string>
</dict>
</plist>